@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

.active hr{
    @apply block
}
::-webkit-scrollbar{
    @apply hidden
}

#chatbot-toggler{
  position: fixed;
  bottom: 30px;
  right: 35px;
  width: 50px;
  height: 50px;
  background: #6D4FC2;
  border-radius: 50%;
  cursor: pointer;
  display:flex;
  justify-content:center;
  align-items:center;
}
#chatbot-toggler span{
  position:absolute;
  color:#fff;
}
.container.show-chatbot #chatbot-toggler{
  transform: rotate(90deg);
}
#chatbot-toggler span:first-child,
.container .show-chatbot #chatbot-toggler span:first-child{
  opacity:0;
}
.container .show-chatbot #chatbot-toggler span:last-child{
  opacity:1;

}


.chatbot-popup {
  position:fixed;
  bottom:90px;
  opacity:0;
  pointer-events:none;
  right:35px;
  width: 420px;
  overflow: hidden;
  transform: scale(0.2 );
  background: #fff;
  border-radius: 15px;
  transform-origin:bottom right;
  box-shadow: 0 0 128px rgba(0, 0, 0, 0.1),
    0 0 32px rgba(0, 0, 0, 0.1);
  transition:all 0.1s ease; 

  
}
.container.show-chatbot .chatbot-popup{
  opacity:1;
  transform: scale(1);
  pointer-events:auto;
}
.chatbot-popup .chat-header {
  display:flex;
  padding:15px 22px;
  align-items: center;
  background: #6D4FC2;
  justify-content: space-between;
}
.chat-header .header-info {
  display: flex;
  align-items: center;  
  gap:10px;

}
.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #6D4FC2;
  border-radius: 50%;
}
header-info .logo-text {
  color:#fff;
  font-size: 1.31rem;
  font-weight: 600;
}
.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  background: #593bab;
  outline:none;
  color:#fff;
  cursor: pointer;
  font-size: 1.9rem;
  border-radius: 50%;
  margin-right: -10px;
  transition: background 0.3s ease;
}
.chat-header button:hover {
  background: #4a4a4a;
}
.chat-body{
  display: flex;
  flex-direction: column;
  gap:20px;
  height: 460px;
  margin-bottom:82px;
  padding: 25px 22px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #DDD3F9 transparent;
}
.chat-body .message {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.chat-body .message.error .message-text{
  color:#ff0000;
}
.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #fff;
  align-self: flex-end;
  margin-bottom: 2px;
  border-radius: 50%;
  background: #6D4FC2;
  

}
.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  background:#6D4FC2;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 16px;
}  
.chat-body .bot-message .message-text {
  background:#F6F2FF;
  border-radius: 13px 13px 13px 3px;
}
.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}
.chat-body .user-message .message-text {
  color:#fff;
  background:#6D4FC2;
  border-radius: 13px 13px 3px 13px;
}
.chat-footer {
  position: absolute;
  bottom: 0;
  width:100%;
  background:#fff;
  padding: 15px 22px 20px;;
}  
.chat-footer .chat-form {
  display:flex;
  align-items: center;
  background:#fff;
  outline:1px solid #ccccE5;
  box-shadow:0 0 8px rgba(0,0,0,0.06);
}
.chat-footer .chat-form:focus-within {
  outline:1px solid #6D4FC2;
  
}
.chat-form .message-input {
  border: none;
  outline:none;
  font-size: 0 17px;
  background:none;
  height: 47px;
  padding:0 17px;
}
.chat-form button{
  height:35px;
  width:35px;
  border:none;
  display: none;
  outline:none;
  cursor:pointer;
  font-size:1.9rem;
  color:#fff;
  flex-shrink:0;
  border-radius:50%;
  background:#6D4FC2;
  
}
.chat-form button:hover{
  background:#593bab;
}
.chat-form .message-input:valid-button{
  display: block;
}